@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
	font-family: poppins;
}

.clock{
	width: 400px;
	height: 400px;
	background-color: #fff;
	border-radius: 50%;
	margin: 100px auto 0px;
	background-image: url(../media/img/clock.png);
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock::before{
	content:'';
	width: 20px;
	height: 20px;
	background-color: #000;
	position: absolute;
	border-radius: 50%;
}

.s{
	width: 0px;
	height: 273px;
	display: flex;
	justify-content: center;
	transform: rotate(0deg);
}
.s::before{
	content:'';
	width: 5px;
	height: 190px;
	position: absolute;
	background-color: #000;
}

.m{
	width: 0px;
	height: 260px;
	display: flex;
	justify-content: center;
	transform: rotate(40deg);
}
.m::before{
	content:'';
	width: 10px;
	height: 148px;
	position: absolute;
	background-color: rgb(240, 15, 15);
}

.h{
	width: 0px;
	height: 260px;
	display: flex;
	justify-content: center;
	transform: rotate(80deg);
}
.h::before{
	content:'';
	width: 20px;
	height: 134px;
	position: absolute;
	background-color: rgb(15, 195, 240);
}